<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<mat-nav-list dense *ngFor="let busInProgress of busesInProgress; trackBy:trackByBusInProgress" class="nav-list-imports-in-progress">
  <div class="item-list">
    <a (click)="closeSidenavOnSmallScreen()" mat-list-item routerLinkActive="active-link" [routerLink]="['/workspaces', workspaceId, 'petals', 'buses-in-progress', busInProgress.id]">
      <span class="ip-port">{{ busInProgress.ip }}:{{ busInProgress.port }}</span>

      <div fxFlex></div>

      <div fxLayout="row" class="wrap-icon">
        <mat-spinner [diameter]="16" [strokeWidth]="2" *ngIf="!busInProgress.importError"></mat-spinner>
        <mat-icon color="accent" *ngIf="busInProgress.importError">warning</mat-icon>
      </div>
    </a>
  </div>
</mat-nav-list>
