<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" class="wrapper-content">
  <mat-toolbar color="primary" class="toolbar-page-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="prefix-toolbar-title" fxLayout="row">
      <mat-icon color="accent">edit</mat-icon>
    </div>

    <h1 class="title" [ngClass.lt-md]="'margin-left-x1'">Workspace Bus Import</h1>
  </mat-toolbar>

  <div class="deleted-message" *ngIf="isSelectedBus() && isSelectedBusDeleted()">
    This import has been removed
  </div>

  <div fxFlex="100%" fxFlexFill fxLayout="column" class="content">
    <div class="central-content">
      <ngx-hover-opacity [isHoverVisible]="isSelectedBus() && isSelectedBusDeleted()">
        <form class="bus-import-form" formnovalidate [formGroup]="busImportForm" (ngSubmit)="onSubmit(busImportForm) && busImportForm.reset()">
          <mat-card>

            <mat-card-title fxLayout="row">
              <span fxFlex class="text-upper">Import Details</span>
              <mat-icon color="primary">archive</mat-icon>
            </mat-card-title>

            <mat-card-content>
              <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="10px">
                <!-- To have more deterministic behavour, we should be able to set 50 to say 2 per line
                   See: https://github.com/angular/flex-layout/issues/235 -->
                <div fxFlex="47" fxFlex.xs="100" class="margin-top-x1">
                  <mat-form-field fxFill>
                    <input type="text" matInput appFocusInputIfLargeScreen placeholder="IP or hostname" formControlName="ip" required [errorStateMatcher]="matcher">
                    <span matPrefix><mat-icon color="primary">star_half</mat-icon></span>
                    <mat-error *ngIf="formErrors.ip">
                      {{ formErrors.ip }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="47" fxFlex.xs="100" class="margin-top-x1">
                  <mat-form-field fxFill>
                    <input type="text" matInput placeholder="Port" formControlName="port" required [errorStateMatcher]="matcher">
                    <span matPrefix><mat-icon color="primary">settings_ethernet</mat-icon></span>
                    <mat-error *ngIf="formErrors.port">
                      {{ formErrors.port }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="47" fxFlex.xs="100" class="margin-top-x1">
                  <mat-form-field fxFill>
                    <input type="text" matInput placeholder="Username" formControlName="username" required [errorStateMatcher]="matcher">
                    <span matPrefix><mat-icon color="primary">person</mat-icon></span>
                    <mat-error *ngIf="formErrors.username">
                      {{ formErrors.username }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="47" fxFlex.xs="100" class="margin-top-x1">
                  <mat-form-field fxFill>
                    <input type="password" matInput placeholder="Password" formControlName="password" required [errorStateMatcher]="matcher">
                    <span matPrefix><mat-icon color="primary">vpn_key</mat-icon></span>
                    <mat-error *ngIf="formErrors.password">
                      {{ formErrors.password }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="47" fxFlex.xs="100" class="margin-top-x1">
                  <mat-form-field fxFill>
                    <input type="password" matInput placeholder="Topology passphrase" formControlName="passphrase" required [errorStateMatcher]="matcher">
                    <span matPrefix><mat-icon color="primary">security</mat-icon></span>
                    <mat-error *ngIf="formErrors.passphrase">
                      {{ formErrors.passphrase }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>

            <app-message class="error-import-details" type="error" [msg]="getError()"></app-message>

            <mat-card-actions class="padding-right-x1 margin-bottom-x1" fxLayoutAlign="end center">
              <button
                mat-raised-button
                color="accent"
                type="button"
                *ngIf="isNewBus() && !newBusData().isImporting"
                class="btn-clear-form margin-right-x1 text-upper"
                (click)="reset()"
              >
                <mat-icon>clear_all</mat-icon>
                <span class="clear-name">Clear</span>
              </button>

              <button
                mat-raised-button
                color="warn"
                type="button"
                *ngIf="isSelectedBus()"
                (click)="discardSelectedBus()"
                [disabled]="selectedBus().isRemoving"
                class="margin-right-x1 btn-discard-form text-upper"
              >
                <ng-template [ngIf]="selectedBus().importError" [ngIfElse]="cancel">
                  <mat-icon>remove_circle</mat-icon><span class="discard-name">Discard</span>
                </ng-template>

                <ng-template #cancel>
                  <mat-icon>cancel</mat-icon><span class="cancel-name">Cancel</span>
                </ng-template>
              </button>

              <button
                mat-raised-button
                color="warn"
                type="button"
                *ngIf="getError() || isStillImporting()"
                (click)="discardSelectedBus({retry: true})"
                class="margin-right-x1 btn-discard-retry-form text-upper"
              >
                <mat-icon>remove_circle</mat-icon>
                <span class="discard-retry">Discard &amp; retry</span>
              </button>

              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="btn-import-form text-upper"
                [disabled]="busImportForm.invalid || isSelectedBus() || (isNewBus() && newBusData().isImporting)"
              >
                <span *ngIf="isStillImporting(); else canImport" fxFill fxLayout="row" fxLayoutAlign="center center">
                  Importing <mat-spinner [diameter]="16" [strokeWidth]="1"></mat-spinner>
                </span>

                <ng-template #canImport>
                  <mat-icon>import_export</mat-icon><span class="import-name">Import</span>
                </ng-template>
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </ngx-hover-opacity>
    </div>
  </div>
</div>
