<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->


<div fxLayout="column" class="mat-typography">
  <mat-nav-list *ngIf="workspaces.list.length !== 0 && !workspaces.isFetchingWorkspaces" class="workspaces-list">
    <mat-list-item *ngFor="let workspace of workspaces.list; trackBy:trackByWorkspace" (click)="select(workspace)" class="workspaces-item">
      <mat-icon class="icon-x4 margin-right-x1 icon-wks">folder</mat-icon>
      <div fxLayout="row" fxFlex class="margin-right-x1">
        <div fxLayout="column">
          <div class="mat-body-2 workspace-name">{{ workspace.name }}</div>
          <span class="mat-body workspace-short-description">{{ workspace.shortDescription }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="end start" fxFlex>
          <mat-icon  
            [matBadge]="workspace.users.length"
            matBadgeColor="primary"
            matBadgeOverlap="false"
            [matTooltip]="'Member' + ((workspace.users.length - 1) >= 2 ? 's' : '') + ': ' + getUsersNames(workspace.users)"
            matTooltipClass="members-tooltip"
            matTooltipPosition="above"
            class="icon-x1 badge-users margin-right-x2"
          >
            <fa-icon class="icon-users" icon="user-friends"></fa-icon>
          </mat-icon>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>
