/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  width: 64px;
  .sidebar-wrapper {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 4;

    .sidebar-top {
      .btn-logo {
        min-height: 64px;
        min-width: 64px;
        padding: 0;
        margin: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-radius: 0%;
      }
    }

    .sidebar-bottom {
      .btn-user-admin {
        min-height: 64px;
        min-width: 64px;
        padding: 0;
        margin: 0;
        &.active {
          border-left-width: 4px;
          border-left-style: solid;
          border-radius: 0%;
        }
        .icon-administration {
          width: 100%;
          height: 100%;
        }
      }
      .btn-user-profile {
        min-height: 64px;
        min-width: 64px;
        padding: 0;
        margin: 0;
        &.active {
          border-left-width: 4px;
          border-left-style: solid;
          border-radius: 0%;
        }
        .icon-user-circle {
          width: 100%;
          height: 100%;
        }
      }
      .btn-user-logout {
        min-height: 64px;
        min-width: 64px;
        padding: 0;
        margin: 0;
        .icon-signout {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
