<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" [style.marginLeft.px]="64" class="wrapper-content mat-typography" cdkScrollable>
  <div fxFlex class="toolbar mat-elevation-z4">
    <mat-toolbar>
      <span class="title-admin-page">Administration</span>
    </mat-toolbar>
  </div>

  <div fxFlex *ngIf="user$ | async as currentUser" class="content">
    <div class="central-content" *ngIf="currentUser.isAdmin; else notAdmin">
      <div *ngIf="users$ | async as users" class="user-management-page">
        <mat-card>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start center">
              <label fxFlex class="text-upper">User Management</label>

              <div class="margin-right-x1">
                <mat-spinner 
                  *ngIf="isFetchingUsers$ | async; else usersFetched"
                  class="margin-right-x1" 
                  [diameter]="16" 
                  [strokeWidth]="1" 
                ></mat-spinner>
                <ng-template #usersFetched>
                  <span class="color-primary-light-bold" *ngIf="users.length > 0" matLine>
                    {{ users.length }} user{{ (users.length) >= 2 ? 's' : '' }}
                  </span>
                </ng-template>
              </div>
              <mat-icon color="primary">supervisor_account</mat-icon>
            </div>
          </mat-card-content>

          <app-message
            *ngIf="!currentUser.isFromLdap"
            class="info-user-management"
            type="info"
            msg="As an administrator, you can ADD, EDIT, and DELETE any user."
            [isClosable]="false"
          ></app-message>

          <app-message 
            *ngIf="currentUser.isFromLdap"
            class="info-ldap-user-management"
            type="info"
            msg="As an administrator, you can ADD and DELETE users from LDAP."
            [isClosable]="false"
          ></app-message>
        </mat-card>

        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="10px" class="user-management-panels">         

          <div fxFlex [ngClass.gt-md]="'card-auto-size'" class="pnl-add-user margin-top-x1">
            <mat-expansion-panel 
              #el 
              fxLayout="column" 
              class="exp-pnl-add-user" 
              [hideToggle]="false" 
              (closed)="onResetAddUserForm()"
            >
              <mat-expansion-panel-header fxLayout="row">
                <div fxLayout="row" fxLayoutAlign="center center" class="mat-body">
                  <mat-icon class="margin-right-x1" color="primary">person_add</mat-icon>
                  <span class="text-upper pnl-title light-bold">Add a new user</span>
                </div>
              </mat-expansion-panel-header>

              <app-add-edit-user 
                #addUser
                *ngIf="!currentUser.isFromLdap else isFromLdap" 
                (evtSubmit)="onAdd($event); el.close()" 
                (evtCancel)="el.close()"
              ></app-add-edit-user>

            </mat-expansion-panel>
          </div>

          <div fxFlex [ngClass.gt-md]="'card-auto-size'" class="pnl-list-users margin-top-x1">
            <mat-accordion displayMode="flat" [multi]="false">
              <mat-expansion-panel 
                #el
                fxLayout="column"
                *ngFor="let user of users; trackBy:trackByUser; let i = index"
                [hideToggle]="false" 
                [ngClass]="'exp-pnl-user-'+user.id"
                (closed)="onResetEditUserForm(i)"
              >
                <mat-expansion-panel-header class="mat-body" fxLayout="row">
                  <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                    <app-generate-icon mat-list-avatar [size]="35" [text]="user.id"></app-generate-icon>
                    <span class="margin-left-x1 user-id">{{ user.id }}</span>
                    <span class="margin-left-x1 light-bold user-name" *ngIf="isLargeScreen$ | async">({{ user.name }})</span>
                    <mat-spinner 
                      *ngIf="user.isAdding || user.isModifying"
                      class="margin-left-x1" 
                      [diameter]="16" 
                      [strokeWidth]="1" 
                    ></mat-spinner>
                  </mat-panel-title>
                </mat-expansion-panel-header>
    
                <ng-template #isNotLdapUser>
                  <app-add-edit-user
                    #editUser
                    [canDelete]="user.id !== currentUser.id && !user.isDeleting"
                    [user]="user"
                    (evtSubmit)="onSave(user.id, $event); el.close()"
                    (evtDelete)="onDelete(user.id); el.close()"
                    (evtCancel)="el.close()"
                  ></app-add-edit-user>
                </ng-template>
                
                <div fxLayout="column" fxLayoutGap="10px" *ngIf="currentUser.isFromLdap; else isNotLdapUser">
                  <div 
                    fxLayout="row" 
                    fxLayoutGap="20px" 
                    fxLayoutAlign.md="center center"
                    fxLayoutAlign.lt-md="start center"
                    class="margin-top-x1"
                  >
                    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start">
                      <span>Username :</span>
                      <span>Name :</span>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start" class="bold">
                      <span class="user-id">{{ user.id }}</span>
                      <span class="user-name">{{ user.name }}</span>
                    </div>
                  </div>
                  <mat-action-row 
                    class="pnl-actions-user-management" 
                    fxLayoutAlign="center center" 
                    fxLayout.lt-md="column wrap" 
                  >
                    <button 
                      mat-raised-button 
                      type="button" 
                      class="btn-delete-form text-upper" 
                      (click)="onDelete(user.id)"
                      *ngIf="user.id !== currentUser.id && !user.isDeleting"
                    >
                      <mat-icon color="warn">delete</mat-icon>
                      <span class="delete-name">Delete</span>
                    </button>
                  </mat-action-row>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
            <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isFetchingUsers$ | async"></mat-progress-bar>
          </div>
        </div>

        <ng-template #isFromLdap>
          <app-add-ldap-user 
            [canAdd]="!users.isAdding"
            (evtSubmit)="onAdd($event);"
          ></app-add-ldap-user>
        </ng-template>
        
      </div>
    </div>

    <ng-template #notAdmin>
      <div class="central-content">
        <mat-card>
          <app-message
            class="warning-not-admin"
            type="warning"
            msg="You are not an administrator."
            [isClosable]="false"
          ></app-message>
        </mat-card>
      </div>
    </ng-template>

  </div>
</div>
