<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<app-header 
  *ngIf="isOnWorkspace$ | async" 
  [isLargeScreen]="isLargeScreen$ | async" 
  [ui]="ui$ | async" 
  [isOnWorkspace]="isOnWorkspace$ | async"
></app-header>

<mat-sidenav-container fxLayout="column" fxFlex (backdropClick)="closeSidenav()" (disableClose)="true">
  <mat-sidenav 
    *ngIf="workspace$ | async as workspace"
    fxLayout="column"
    class="workspace-sidenav"
    mode="side" 
    opened
    [disableClose]="true"
  >
    <div class="pnl-buttons-workspaces">
      <!-- Create 2nd div solved problem of material tab -->
      <div fxLayout="row">
          <button 
            fxFlex="80" 
            mat-raised-button 
            (click)="closeSidenavOnSmallScreen()" 
            [routerLink]="['/workspaces', workspace.id]"
            class="btn-workspace-name width-full no-border-radius text-upper" 
            color="accent"
          >{{ workspace.name }}</button>
    
          <button 
            fxFlex
            mat-raised-button
            [routerLink]="['/workspaces']"
            class="btn-change-workspace width-full no-border-radius"
            color="accent">
            <mat-icon>view_list</mat-icon>
          </button>
      </div>
    </div>

    <mat-tab-group
      class="workspace-menu"
      mat-stretch-tabs
      fxFlex="0px"
      [selectedIndex]="retrievedSelectedIndex"
      (selectedIndexChange)="saveCurrentTab($event)"
    >
      <mat-tab label="Petals">
        <app-petals-menu-view
          [busesInProgress]="busesInProgress$ | async"
          [tree]="tree$ | async"
          [workspaceId]="workspace.id">
        </app-petals-menu-view>
      </mat-tab>

      <mat-tab label="Services">
        <app-services-menu-view
          [interfaces]="interfaces$ | async"
          [services]="services$ | async"
          [endpoints]="endpoints$ | async"
          [workspaceId]="workspace.id">
        </app-services-menu-view>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
