<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div *ngIf="workspace$ | async as workspace" fxLayout="column" fxFlexFill class="wrapper-content mat-typography ">
  <mat-toolbar color="primary" class="toolbar-page-header">
    <div class="prefix-toolbar-title">
      <mat-icon *ngIf="!workspace.isFetchingDetails" color="accent">grade</mat-icon>
      <mat-spinner *ngIf="workspace.isFetchingDetails" color="accent" [diameter]="16" [strokeWidth]="1"></mat-spinner>
    </div>

    <h1 fxFlex [ngClass.lt-md]="'margin-left-x1'" class="title">{{ workspace.name }}</h1>

    <button 
      color="warn" 
      type="button" 
      mat-mini-fab matTooltip="Delete the workspace"
      matTooltipPosition="before" 
      (click)="openDeletionDialog()" 
      [disabled]="workspace.isRemoving || isRemoving"
      class="btn-delete-wks" 
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <div fxFlex class="content">
    <div class="central-content" fxLayout="column" fxLayoutGap="10px">
      <mat-card>
        <mat-card-title>Short Description</mat-card-title>
        
        <mat-card-content *ngIf="!isEditingShortDescription; else shortDescriptionEdit" fxLayout="column" class="workspace-short-description">
          <div *ngIf="workspace.shortDescription; else noShortDescription" fxFill class="short-description">
            <span fxFlex>{{ workspace.shortDescription }}</span>
          </div>   
          <ng-template #noShortDescription>
            <app-message
              type="info"
              msg="This workspace doesn't have any short descripion."
              [isClosable]="false"
              class="info-no-short-description"
            ></app-message>
          </ng-template>
        </mat-card-content>

        <mat-card-actions *ngIf="!isEditingShortDescription" fxFill fxLayoutAlign="end center">
          <button mat-raised-button color="primary" (click)="editShortDescription()" class="btn-edit-short-description text-upper">
            <span *ngIf="workspace.shortDescription.length; else addShortDescription" fxLayoutAlign="center center">Edit</span>
            <ng-template #addShortDescription>
              <span fxLayoutAlign="center center">Add</span>
            </ng-template>
          </button>
        </mat-card-actions>

        <ng-template #shortDescriptionEdit>
          <mat-card-content fxLayout="column">
            <div fxFill class="workspace-short-description-edit">
              <mat-form-field appearance="outline" fxFill class="short-description-form-field">
                <textarea 
                  #txtShortDescription
                  matInput 
                  matTextareaAutosize
                  maxLength="200"
                  placeholder="Add short description to the current workspace"
                  [appFocusInputIfLargeScreen]="isFocusShortDescriptionTextarea"
                  [disabled]="isSettingShortDescription" 
                  [(ngModel)]="shortDescription"
                  class="short-description-wks"
                ></textarea>
                <mat-hint *ngIf="txtShortDescription.value?.length !== 200; else isMaxLength">{{ txtShortDescription.value?.length || 0 }}/200</mat-hint>
                <ng-template #isMaxLength>
                  <mat-error>Max 200 characters!</mat-error>
                </ng-template>
              </mat-form-field>
            </div>
          </mat-card-content>

          <mat-card-actions *ngIf="isEditingShortDescription" fxFill fxLayoutAlign="end center">
            <button
              mat-button
              type="button"
              color="primary"
              [disabled]="isSettingShortDescription"
              (click)="cancelShortDescription()"
              class="btn-cancel-short-description text-upper margin-right-x1"
            >
              <span fxLayoutAlign="center center">Cancel</span>
            </button>
            <button 
              mat-raised-button
              color="accent" 
              (click)="saveShortDescription()" 
              [disabled]="isSettingShortDescription || shortDescription === workspace.shortDescription" 
              class="btn-save-short-description text-upper"
            >
              <span fxLayoutAlign="center center">Save</span>
            </button>
          </mat-card-actions>
        </ng-template>
      </mat-card>
          
      <mat-card>
        <mat-card-title>Description</mat-card-title>

        <mat-card-content *ngIf="!isEditingDescription; else descriptionEdit" fxLayout="column" class="workspace-description">
          <div *ngIf="workspace.description; else noDescription" fxFill class="description">
            <span fxFlex [innerHTML]="workspace.description | MarkdownToHtml"></span>
          </div>
          <ng-template #noDescription>
            <app-message
              type="info"
              msg="This workspace doesn't have any descripion."
              [isClosable]="false"
              class="info-no-description"
            ></app-message>
          </ng-template>
        </mat-card-content>

        <mat-card-actions *ngIf="!isEditingDescription" fxFill fxLayoutAlign="end center">
          <button mat-raised-button color="primary" (click)="editDescription()" class="btn-edit-description text-upper">
            <span *ngIf="workspace.description.length; else addDescription" fxLayoutAlign="center center">Edit</span>
            <ng-template #addDescription>
              <span fxLayoutAlign="center center">Add</span>
            </ng-template>
          </button>
        </mat-card-actions>

        <ng-template #descriptionEdit>
          <mat-card-content fxLayout="column">
            <div fxFill class="workspace-description-edit">
              <mat-form-field appearance="outline" fxFill class="description-form-field">
                <textarea 
                  matInput 
                  matTextareaAutosize
                  placeholder="Add description to the current workspace"
                  [appFocusInputIfLargeScreen]="isFocusDescriptionTextarea"
                  [disabled]="isSettingDescription" 
                  [(ngModel)]="description"
                  class="description-wks" 
                ></textarea>
                <mat-hint>Supports Standard Markdown Syntax</mat-hint>
              </mat-form-field>
              
              <div fxFill>
                <span 
                  *ngIf="description; else nothingToPreview"
                  fxFlex 
                  [innerHTML]="description | MarkdownToHtml" 
                  class="workspace-description-preview padding-x1">
                </span>
                <ng-template #nothingToPreview>
                  <div fxFill fxFlex class="msg-no-description padding-x1">Nothing to preview</div>
                </ng-template>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions *ngIf="isEditingDescription" fxFill fxLayoutAlign="end center">
            <button
              mat-button
              type="button"
              color="primary"
              [disabled]="isSettingDescription"
              (click)="cancelDescription()"
              class="btn-cancel-description text-upper margin-right-x1"
            >
              <span fxLayoutAlign="center center">Cancel</span>
            </button>
            <button 
              mat-raised-button
              color="accent" 
              (click)="saveDescription()" 
              [disabled]="isSettingDescription || description === workspace.description" 
              class="btn-save-description text-upper"
            >
              <span fxLayoutAlign="center center">Save</span>
            </button>
          </mat-card-actions>
        </ng-template>
      </mat-card>

      <mat-card>
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">Users</span>
          <mat-icon color="primary">supervisor_account</mat-icon>
        </mat-card-title>

        <mat-card-content>
          <div *ngIf="(users$ | async) as users" fxLayout="column" class="workspace-users">

            <app-message
              *ngIf="users.length === 1; else workspaceShared"
              type="info"
              msg="You are the only one using this workspace."
              [isClosable]="false"
              class="info-user-workspace"
            ></app-message>

            <ng-template #workspaceShared>
              <app-message
                type="info"
                msg="{{users.length}} people are using this workspace."
                [isClosable]="false"
                class="info-user-workspace-shared"
              ></app-message>
            </ng-template>

            <form [formGroup]="addUserFormGroup" (ngSubmit)="addUser()" class="margin-top-x1">
              <mat-form-field class="margin-right-x1">
                <input
                  matInput
                  placeholder="User to add"
                  [matAutocomplete]="autocompleteUsers"
                  formControlName="userSearchCtrl"
                  [errorStateMatcher]="matcher"
                  required>
                <mat-error>Select a user on the list</mat-error>
              </mat-form-field>

              <mat-autocomplete #autocompleteUsers>
                <mat-option *ngFor="let filteredUser of filteredUsers$ | async" [value]="filteredUser">
                  {{ filteredUser }}
                </mat-option>
              </mat-autocomplete>

              <button 
                mat-raised-button 
                type="submit" 
                color="accent" 
                [disabled]="addUserFormGroup.invalid || workspace.isAddingUserToWorkspace"
                class="text-upper" >Add</button>
            </form>

            <mat-list *ngIf="currentUserId$ | async as currentUserId">
              <mat-list-item *ngFor="let user of users; trackBy:trackByUser">
                <app-generate-icon mat-list-avatar [size]="35" [text]="user.id"></app-generate-icon>

                <h2 matLine class="user-id">{{ user.id }}</h2>

                <p matLine>
                  <span class="user-name">{{ user.name }}</span>
                </p>

                <button 
                  *ngIf="currentUserId !== user.id"
                  mat-icon-button
                  (click)="removeUser(user.id)"
                  [disabled]="user.isDeletingFromWorkspace"
                  class="delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
            
          </div>
        </mat-card-content>

      </mat-card>
        
    </div>
  </div>
</div>
