/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

:host {
  height: 100%;
  overflow: auto;
}

.selected-workspace {
  font-weight: bold;
}

.mat-card-title {
  font-size: 16px;
}

.description,
.workspace-description-edit {
  word-break: break-word;
  white-space: pre-line;
}

mat-card-content.workspace-short-description > .short-description {
  word-break: break-word;
  white-space: pre-line;
}

.short-description-form-field,
.description-form-field {
  textarea {
    min-height: 80px;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    overflow: auto;
    word-break: break-word;
    white-space: pre-line;
  }
}

.custom-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

mat-toolbar.toolbar-page-header {
  word-break: break-word;
  white-space: pre-line;
}
