<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxFill fxLayout="column" class="content">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">

      <mat-card fxFlex class="su-infos" [ngClass.gt-md]="'card-auto-size'">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">About <b>{{ serviceUnit.name }}</b></span>
          <mat-icon color="primary">info_outline</mat-icon>
        </mat-card-title>

        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-card-header fxFlex>
            <mat-card-title>State</mat-card-title>
            <mat-card-subtitle class="sa-state" fxLayoutAlign="start center">
              {{ serviceUnit.serviceAssembly.state }}
              <app-led [color]="getLedColorFromState(serviceUnit.serviceAssembly.state)" class="margin-left-x1"></app-led>
            </mat-card-subtitle>
          </mat-card-header>
        </div>

      </mat-card>

      <mat-card fxFlex class="su-info-sa">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">Service Assembly</span>
          <mat-icon color="primary" svgIcon="sa-overview"></mat-icon>
        </mat-card-title>

        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <mat-card-header fxFlex fxLayout="row" class="service-assembly">
            <mat-card-title>Name</mat-card-title>
            <mat-card-subtitle class="sa-name" fxLayoutAlign="start center">
              {{ serviceUnit.serviceAssembly.name }}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content fxLayout="row" fxLayoutAlign="start center" class="view-sa">
            <a mat-raised-button color="primary" [routerLink]="['/workspaces', workspaceId, 'petals', 'service-assemblies', serviceUnit.serviceAssembly.id]"
              class="sa">
              <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                <span class="text-upper view-sa-name margin-right-x1">View this sa</span>
                <mat-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
              </div>
            </a>
          </mat-card-content>
        </div>
      </mat-card>

      <mat-card fxFlex class="su-info-comp">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">Component</span>
          <mat-icon class="icon-x3" color="primary" svgIcon="component"></mat-icon>
        </mat-card-title>

        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <mat-card-header fxFlex fxLayout="row" class="component">
            <mat-card-title>Name</mat-card-title>
            <mat-card-subtitle class="component-name" fxLayoutAlign="start center">
              {{ serviceUnit.component.name }}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content fxLayout="row" fxLayoutAlign="start center" class="view-component">
            <a mat-raised-button color="primary" [routerLink]="['/workspaces', workspaceId, 'petals', 'components', serviceUnit.component.id]"
              class="comp">
              <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                <span class="text-upper view-component-name margin-right-x1">View this component</span>
                <mat-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
              </div>
            </a>
          </mat-card-content>
        </div>
      </mat-card>

    </div>
  </div>
</div>
