/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// not using ~ because of https://github.com/angular/material2/issues/4056#issuecomment-318311853
@import 'node_modules/@angular/material/theming';
@include mat-core();

// will generate .color-{colorName}-x1, .color-{colorName}-x2, etc (same for background and others)
$color-declination: 10;

// picked from http://www.cssauthor.com/wp-content/uploads/2015/01/Material-Color-Picker.jpg
$red: #f54337;
$pink: #ea1e63;
$purple: #9c28b1;
$deep-purple: #6937b7;
$indigo: #3f51b5;
$blue: #2295f4;
$light-blue: #03a9f5;
$cyan: #00bcd5;
$teal: #00968a;
$green: #4caf50;
$light-green: #8cc34b;
$lime: #cddc39;
$yellow: #ffeb3c;
$amber: #fec107;
$orange: #ff9801;
$deep-orange: #fe5522;
$brown: #775545;
$grey: #9d9e9f;
$white: #ffffff;
$black: #000000;

$color-palette: (
  'red': $red,
  'pink': $pink,
  'purple': $purple,
  'deep-purple': $deep-purple,
  'indigo': $indigo,
  'blue': $blue,
  'light-blue': $light-blue,
  'cyan': $cyan,
  'teal': $teal,
  'green': $green,
  'light-green': $light-green,
  'lime': $lime,
  'yellow': $yellow,
  'amber': $amber,
  'orange': $orange,
  'deep-orange': $deep-orange,
  'brown': $brown,
  'grey': $grey,
  'white': $white,
  'black': $black
);
